<h1>Events:</h1>
<% @events.each do |event| %>
<h2> <%= event.name %> </h2>
<p> <%= event.date %> </p>
<p> <%= event.time_of_day %> </p>
<p> <%= event.description_level_1 %> </p>
<p> <%= event.description_level_2 %> </p>
<p> <%= event.description_level_3 %> </p>
<p> <%= event.year %> </p>
<a href="/events/<%= event.id %>">Learn More</a>
<% end %>

 
    <!-- RESUME SECTION START: Timeline Section -->
    <section id="resume" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">My Resume</h2>

                        <p class="section-subtitle">
                            If you call failures experiments, you can put them in your resume and claim them as achievements.
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- EDUCATION START -->
                <!-- Start Loop: -->
                   <div class="row education">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>
                            My Education
                            <br>
                            2003 - 2012
                        </h3>

                        <div class="panel-group resume" id="education">
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year">2010 - 2012</span>
                                </div>
                                <!-- //.resume-year -->

                                <div class="resume-btn">
                                    <a href="#education1" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title">Masters Degree - University Name</h4>
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->

                                    <div id="education1" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->

                            
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //EDUCATION END -->
            
                

                            
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //WORK EXPERIENCE END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //RESUME SECTION END -->
    