<h1>Events:</h1>
<% @events.each do |event| %>
<h2> <%= event.name %> </h2>
<p> <%= event.date %> </p>
<p> <%= event.time_of_day %> </p>
<p> <%= event.description_level_1 %> </p>
<p> <%= event.description_level_2 %> </p>
<p> <%= event.description_level_3 %> </p>
<p> <%= event.year %> </p>
<a href="/events/<%= event.id %>">Learn More</a>
<% end %>

 
    <!-- RESUME SECTION START: Timeline Section -->
    <section id="resume" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">Your Timeline</h2>

                        <p class="section-subtitle">
                            Here are your events:
                        </p>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
                
                <!-- EDUCATION START -->
                <!-- Start Loop: -->
                <% @events.each do |event| %>
                   <!-- <div class="row education">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>
                            My Education
                            <br>
                            2003 - 2012
                        </h3>   -->
 
                        <div class="panel-group resume" id="education">
                            <div class="resume-item">
                                <div class="resume-year">
                                    <span class="resume-year"><%= event.date %></span>
                                </div>
                                <!-- //.resume-year -->
                                
                                <div class="resume-btn">
                                    <a href="#event-<%= event.id %>" data-toggle="collapse" data-parent="#education"></a>
                                </div>
                                <!-- //.resume-btn -->
                            

                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4 class="resume-title"> <%= event.name %></h4>
                                           
                                        </div>
                                        <!-- //.panel-title -->
                                    </div>
                                    <!-- //.panel-heading -->
                                    
                                
                                    <div id="event-<%= event.id %>" class="panel-collapse collapse in">
                                        <div class="panel-body text-grey">

                                               
                                            </p>
                                        </div>
                                        <!-- //.panel-body -->
                                    </div>
                                    <!-- //.panel-collapse -->
                                </div>
                                
                                <!-- //.panel -->
                            </div>
                            <!-- //.resume-item -->
                           <% end %>
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //EDUCATION END -->
            
                

                            
                        </div>
                        <!-- //.panel-group -->
                    </div>
                    <!-- //.col-md-10 -->
                </div>
                <!-- //WORK EXPERIENCE END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //RESUME SECTION END -->
    