
    <!-- PROFILE SECTION START: Events Section -->
    <section id="profile" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">          
                    <div class="col-md-7 match-height">

                        <!-- PROFILE TEXT START -->
                    
                                       
                                        
                        <div class="profile-text padding-right-yes">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-lg btn-custom" onclick="geoAlert()">Check In</a></button>
                                    <script> 
                                    function geoAlert() {
                                      alert('Please visit this location to learn more');
                                    }
                                    </script>
                                    <br></br>
                                    <h2 class="section-title"><%= @location.current_name %></h2>
                                    <h4> <%= @event.name %> </h4>

                                    <br></br>
                                    <% if @location_user.visited == true %>

                                    <% if current_user.level == "Adventurer" %>
                                    <p> <%= @event.description_level_1 %> </p>

                                    <span class="divider"></span> 
                                    <% elsif current_user.level == "Explorer" %> 
                                    <p class="text-grey">
                                        <%= @event.description_level_1 %>
                                        <span class="divider"></span>
                                        <%= @event.description_level_2 %>
                                    </p>

                                    <span class="divider"></span>
                                    <% else %>
                                    <p class="text-grey">
                                        <%= @event.description_level_1 %>
                                        <span class="divider"></span>
                                        <%= @event.description_level_2 %>
                                        <span class="divider"></span>
                                        <%= @event.description_level_3 %>
                                    </p>
                                    <% end %>
                              
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        </div>
                  <!-- //PROFILE TEXT END -->
                    
                     <!-- CONTACT DETAILS START -->
                        <div class="contact-details padding-right-yes">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <h4>Event Details</h4>

                                    <ul class="list-unstyled text-grey">
                                        <li>Level: <%= current_user.level %></li>
                                        <li>Sites Discovered: <%= current_user.green %></li>
                                        <li>Sites Visited: <%= current_user.red %></li>
                                    </ul>
                                </div>
                                <!-- //.col-md-5 -->

                                <div class="col-sm-6 col-md-7">
                                    <a href="/events/calculated?category_id=<%= @event.category.id %>"" class="btn btn-lg btn-custom">Find more history
                                    </a>
                                </div>
                                <!-- //.col-md-6 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //CONTACT DETAILS END -->    
                    </div>
                    <!-- PROFILE PICTURE START -->
                    <div class="col-md-5 hidden-xs hidden-sm match-height pp-wrapper">
                        <div class="profile-picture style-one">
                            <img src="<%= @location.image %>" alt="profile picture" class="img-responsive"/>
                        </div>
                    </div>
                    <!-- //PROFILE PICTURE END -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //PROFILE SECTION END -->
    
                                

      <!-- PORTFOLIO SECTION START: Events Section Images -->
    <% if current_user.level == "Scholar" %>
    <section id="portfolio" class="section">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Pictures: <%=@event.name%></h2>

                        <!-- <p class="section-subtitle">I'm looking to expand my portfolio while I'm on top and while I'm young.</p>
 -->
                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <!-- PORTFOLIO START -->

                <div class="portfolio">
                    <div class="row">
                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="<%= @event.images.first.url %>" class="zoom" title="<%= @event.images.first.caption %>">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/25963987/Buzz-Lightyear" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4> <%= @event.images.first.caption %> </h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="<%= @event.images.first.url %>" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="<%= @event.images.second.url %>" class="zoom" title="<%= @event.images.second.caption %>">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/25344153/Robosam-3" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4> <%= @event.images.second.caption %></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="<%= @event.images.second.url %>" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="<%= @event.images.third.url %>" class="zoom" title="<%= @event.images.third.caption %>">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/25821381/Coke-Man-and-Dog" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4><%= @event.images.third.caption %></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="<%= @event.images.third.url %>" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                         <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="<%= @event.images.fourth.url %>" class="zoom" title="<%= @event.images.fourth.caption %>">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/20195929/Speed-Projects" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->
 
                                <div class="project-title">
                                    <h4><%= @event.images.fourth.caption %></h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="<%= @event.images.fourth.url %>" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <!-- <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="assets/images/portfolio/project-image-5.jpg" class="zoom" title="Wooden Rhinoceros Beetle">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/26043281/Wooden-Rhinoceros-Beetle" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div> -->
                                <!-- //.project-link -->

                                <!-- <div class="project-title">
                                    <h4>Wooden Rhinoceros Beetle</h4>
                                </div> -->
                                <!-- //.project-title -->

                              <!--   <img src="/assets/images/portfolio/project-image-5.jpg" alt="" class="img-responsive"/>
                            </div> -->
                            <!-- //.project-wrapper -->
                       <!--  </div> -->
                        <!-- //.item -->

                        <!-- <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="assets/images/portfolio/project-image-6.jpg" class="zoom" title="The First Encounter">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/25505317/The-first-Encounter" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div> -->
                                <!-- //.project-link -->

                                <!-- <div class="project-title">
                                    <h4>The First Encounter</h4>
                                </div> -->
                                <!-- //.project-title -->

                               <!--  <img src="/assets/images/portfolio/project-image-6.jpg" alt="" class="img-responsive"/>
                            </div> -->
                            <!-- //.project-wrapper -->
                        <!-- </div> -->
                        <!-- //.item -->

                        <!-- <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="assets/images/portfolio/project-image-7.jpg" class="zoom" title="Dead Pool">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/25763797/DEADPOOL" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div> -->
                                <!-- //.project-link -->

                                <!-- <div class="project-title">
                                    <h4>Dead Pool</h4>
                                </div> -->
                                <!-- //.project-title -->
<!-- 
                                <img src="/assets/images/portfolio/project-image-7.jpg" alt="" class="img-responsive"/>
                            </div> -->
                            <!-- //.project-wrapper -->
                       <!--  </div> -->
                        <!-- //.item -->

                        <!-- <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="assets/images/portfolio/project-image-8.jpg" class="zoom" title="Rebus II">
                                        <i class="icon-Full-Screen"></i>
                                    </a>

                                    <a href="https://www.behance.net/gallery/19401293/Rebus-2" target="_blank" class="external-link">
                                        <i class="icon-Link"></i>
                                    </a>
                                </div> -->
                                <!-- //.project-link -->

                               <!--  <div class="project-title">
                                    <h4>Rebus II</h4>
                                </div> -->
                                <!-- //.project-title -->
<!-- 
                                <img src="/assets/images/portfolio/project-image-8.jpg" alt="" class="img-responsive"/>
                            </div>  -->
                            <!-- //.project-wrapper -->
                        <!--     -->
                        <!-- //.item -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- PORTFOLIO END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <% end %>
    <!-- //PORTFOLIO SECTION END -->
    <% end %>

    <% if current_user.red == 1 && current_user.green == 1 || current_user.red == 3 && current_user.green == 3 || current_user.red == 5 && current_user.green == 5 %>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color: black">You've Leveled Up!</h4>
              </div>
              <div class="modal-body" style="color: black">
                <h1>Congratulations <%= current_user.level %>!</h1>
              </div>
              <div class="modal-footer" style="color: black">
                <% if current_user.level == "Adventurer" %>
                    Visit two more locations to unlock additional info!
                <% elsif current_user.level == "Explorer" %>
                    Visit two more location to unlock additional info and a bonus!
                <% else %>
                    You've reached the highest level!
                <% end %>

              </div>
            </div>
          </div>
        </div>
    <% end %>

    <script>   
        $(document).ready(function() {
            $('#myModal').modal('show'); 
        });
    </script>