<h1> <%= @event.name %>: <a href="/"> <%= @event.category.category %> </a> </h1>
When: <p> <%= @event.year %> </p>
Date: <p> <%= @event.date %></p>
Time: <p> <%= @event.time_of_day %> </p>
Level One Description: <p> <%= @event.description_level_1 %> </p>
Level Two Description: <p> <%= @event.description_level_2 %> </p>
Level Three Description: <p> <%= @event.description_level_3 %> </p>
