<h1>Hello World!</h1>
<% @locations.each do |location| %>
<p> <%= location.current_name %></p>
<p> <%= location.former_name %></p>
<p> <%= location.address %></p>
<p> <%= location.latitude %></p>
<p> <%= location.longitude %></p>
<p> <%= location.description %></p>
<a href="/locations/<%= location.id %>">See events at the <%= location.current_name %></a>
<% end %>