<div id="app">
  {{ message }}
</div>

<% if current_user %>
<h1>Hello, <%=current_user.first_name %>!</h1>
<% end %>
<% @locations.each do |location| %>
<p> <%= location.current_name %></p>
<p> <%= location.former_name %></p>
<p> <%= location.address %></p>
<p> <%= location.latitude %></p>
<p> <%= location.longitude %></p>
<p> <%= location.description %></p>
<a href="/locations/<%= location.id %>">See events at the <%= location.current_name %></a>
<% end %>
    <div id="map"></div>
    <script>
      function initMap() {
        var chicago = {lat: 41.875313, lng: -87.624743};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: chicago
        });

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' + 
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Congress Hotel Plaza</h1>' +
            '<div id="bodyContent">' +
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large'  +
            'sandstone rock formation in the southern part of the ' +
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
            'south west of the nearest large town, Alice Springs; 450&#160;km ' +
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
            'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
            'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
            'Aboriginal people of the area. It has many springs, waterholes, ' +
            'rock caves and ancient paintings. Uluru is listed as a World ' +
            'Heritage Site.</p>' +
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
            '(last visited June 22, 2009).</p>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: chicago,
          map: map,
          title: 'Congress Hotel Plaza'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>